# This is the example config, at the moment web-searcher.sh will just find the
# config by looking for a file called config in the same directory

# You can use it to easily define your own custom search engines and to
# customize your prompts

declare -A ENGINES

# Adding a cutom engine is very simple, just add ["ENGINE NAME"]="SEARCH URL"
# to the list below
ENGINES=(
  ["Google"]="https://www.google.com/search?q="
  ["DuckDuckGo"]="https://www.duckduckgo.com/?q="
  ["GitHub"]="https://github.com/search?q="
  ["StackOverflow"]="http://stackoverflow.com/search?q="
  ["YouTube"]="https://www.youtube.com/results?search_query="
)

# The general form of the configs below is an explanation of the setting along
# with the default value, followed by a line with an example to change it

# The prompt rofi uses when you are selecting your engine
# Default: "Engine"
# ENGINE_PROMPT="Search > "

# Option to use the engine name as the query prompt, e.g. github
# Default: true
# USE_ENGINE_FOR_QUERY_PROMPT=false

# Append to the end of the engine name when using USE_ENGINE_FOR_QUERY_PROMPT
# to allow for nice formatting
# Default: ": "
# ENGINE_QUERY_PROMPT_APPEND=" > "

# The query prompt to use if USE_ENGINE_FOR_QUERY_PROMPT is false
# Default: "Query"
# QUERY_PROMPT="Query > "

# The number of columns to show when selecting search engine names
# Default: 1
# COLUMNS=3

# If the selection for the engine should be case-sensitive
# Default: false
# CASE_SENSITIVE=true

